@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
	/* FONTS */
	--font-onest: Onest, sans-serif;

	/*  MERGED COLORS  */
	--color-brandGreen: #6daf20;
	--color-brandDarkGreen: #426f0d;
	--color-brandGray: #1d1e1f;
}

body {
	@apply font-onest;
	background-color: #1d1e1f;
	color: #ffffff;
}

html {
	scroll-behavior: smooth;
}

@keyframes floatUp {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes floatDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(30px);
	}
	100% {
		transform: translateY(0);
	}
}

/* Card 1 – up */
.float-card1 {
	animation: floatUp 4s ease-in-out infinite;
	animation-delay: -1s;
}

/* Card 2 – down */
.float-card2 {
	animation: floatDown 6s ease-in-out infinite;
	animation-delay: -2s;
}

/* Card 3 – up (slower) */
.float-card3 {
	animation: floatUp 5s ease-in-out infinite;
	animation-delay: -1s;
}

/* Card 4 – down (slower) */
.float-card4 {
	animation: floatDown 7s ease-in-out infinite;
	animation-delay: -2s;
}

.tags-big {
	@apply bg-white md:max-w-[240px] w-fit px-10 md:px-0 md:w-full h-[55px] rounded-full text-black text-xs sm:text-[15px] font-semibold -tracking-[0.5px] z-10;
}

.tags-sm {
	@apply bg-white md:max-w-[210px] w-fit px-10 md:px-0 md:w-full h-[55px] rounded-full text-black text-xs sm:text-[15px] font-semibold -tracking-[0.5px] z-10;
}

.tags-xs {
	@apply bg-white md:max-w-[120px] w-fit px-10 md:px-0 md:w-full h-[55px] rounded-full text-black text-xs sm:text-[15px] font-semibold -tracking-[0.5px] z-10;
}
